*{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-color: #40575e;
    position: relative;
}
.bg{
    min-height: 100vh;
    margin: 0 10% 0 10%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/city.png);
    background-position: center;
    background-size: cover;
}
nav{
    background-color: #f5eddce5;
    display: flex;
    padding: 5px 5%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
    top: 0;
}
/* defining size for logo */
nav img{
    width: 64px;
    height: 64px;
    margin-left: 5vw;
}
/* defining pos and look of link buttons */
.nav-links{
    flex: 1;
    text-align: right;
    margin-right: 5vw;
}
.nav-links ul li{
    display: inline-block;
    text-decoration: none;
    color: #A2B5BB;
    border: 1px solid #A2B5BB;
    padding: 0;
    font-size: 1rem;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.nav-links ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    padding: 12px 36px;
    display: block;
}
/* animated bg when hovering buttons */
.nav-links ul li:hover{
    border: 1px solid #A2B5BB;
    background: #A2B5BB;
    transition-duration: 0.3s;
}
/* text for first page */
.text-box{
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box img{
    margin: 0 10% 0 10%;
    width: 64%;
    max-height: 40vh;
}
.text-box h1{
    color: #CFD2CF;
    font-size: 5vw;
}
.text-box p{
    /*max-width: 80vw;
    position: absolute;*/ /*THESE CAUSE PROBLEMS ON SMOL PLEB SCREENS*/
    left: 25%;
    text-align: center;
    margin: 10px 0 40px;
    font-size: 1rem;
    color: #CFD2CF;
    width: calc(100% - 348px);
    margin-inline: auto;
}


/* --- products ---- */
.products{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: #40575e;
}
.defbg{
    min-height: 100vh;
    margin: 0 10% 0 10%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/defaultbg.jpg);
    background-position: center;
    background-size: cover;
}
.prodimg img{
    margin: 0 10%;
    width: 80%;
    height: 20vh;
}
.products h1{
    padding-top: 10%;
    text-align: left;
    margin-left: 10%;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}
.products p{
    text-align: left;
    margin-left: 10%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
}
.row{
    padding-top: 5%;
    margin: 0 10% 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-col{
    flex-basis: 31%;
    background: #e9f7ff;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.2s;
    overflow: hidden;
    height: 100%;
    margin: 0 20px 20%;
}
.product-col img{
    height: 50vh;
    width: 100%;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}
.product-col h3{
    text-align: center;
    font-weight: 700;
    margin: 10px 0;
    color: #000000;
    font-size: 1.5vw;
}
.product-col h4{
    text-align: left;
    margin: -20px 7% 10px;
    font-size: 1vw;
    color: #40575e;
}
.product-col p{
    color: #000000;
    margin: 0 10% 10px;
    font-size: 1vw;
}
.product-col:hover{
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.3);
}


/*----- contactus page--------*/
.contact-us{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: #40575e;
}
.contact-row{
    padding-top: 40%;
    margin: 0 10% 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-row iframe{
    width: 30vw !important;
    height: 30vh !important;
}
/*@media screen and (max-width: 1300px){
    iframe{
        width: 20px !important;
    }
}*/
.contact-col{
    flex-basis: 48%;
    margin-bottom: 20%;
}
.contact-col h1{
    padding: 0;
    color: #CFD2CF;
    font-weight: 400;
    font-size: 3vw;
}
.contact-col p{
    padding: 20px;
    color: #CFD2CF;
    font-weight: 400;
    font-size: 2vw;
}
.results img{
    width="100vw"
}